:root {
  --rs-primary: 25, 91, 255;
  --rs-warn: 255, 186, 0;
  --rs-danger: 255, 71, 87;
  --rs-success: 70, 201, 58;
  --rs-dark: 30, 30, 30;
  --rs-light: 244, 247, 248;
  --rs-color: 17, 18, 20;

  // social colors

  --rs-facebook: 59, 89, 153;
  --rs-twitter: 29, 161, 242;
  --rs-youtube: 255, 0, 0;
  --rs-pinterest: 189, 8, 28;
  --rs-linkedin: 0, 119, 181;
  --rs-snapchat: 255, 252, 0;
  --rs-whatsapp: 37, 211, 102;
  --rs-tumblr: 54, 70, 93;
  --rs-reddit: 255, 69, 0;
  --rs-spotify: 30, 215, 96;
  --rs-amazon: 255, 153, 0;
  --rs-medium: 2, 184, 117;
  --rs-vimeo: 26, 183, 234;
  --rs-skype: 0, 175, 240;
  --rs-dribbble: 234, 76, 137;
  --rs-slack: 74, 21, 75;
  --rs-yahoo: 67, 2, 151;
  --rs-twitch: 100, 65, 164;
  --rs-discord: 114, 137, 218;
  --rs-telegram: 0, 136, 204;
  --rs-google-plus: 219, 68, 55;
  --rs-messenger: 0, 132, 255;

  // theme

  --rs-background: 255, 255, 255;
  --rs-text: 44, 62, 80;
  --rs-gray-1: 249, 252, 253;
  --rs-gray-2: 244, 247, 248;
  --rs-gray-3: 240, 243, 244;
  --rs-gray-4: 230, 233, 234;
}
