@import "../../../styles/mixins";
@import "root";

.rs-table-content {
  width: 100%;
  border-radius: 16px;
}

.rs-table {
  width: 100%;
  font-size: 0.9rem;
  margin: 0px;
  overflow: auto;

  table {
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
    min-width: 500px;
    border: 0px;
  }

  &.striped {
    .rs-table__tr {
      &:nth-child(2n) {
        background: rs-color("gray-1") !important;
      }
    }
  }

  &_not-found {
    display: none;
    padding: 20px;
    text-align: center;
    width: 100%;

    tr {
      text-align: center;

      td {
        padding: 20px;
        border: 0px;

        // width: 100%
      }
    }
  }

  &__tbody {
    &:empty {
      display: none;
      background: #000;

      ~ .rs-table_not-found {
        display: table-row-group;
      }
    }
  }

  &.isSelectedValue {
    tr {
      cursor: pointer;
    }
  }

  &__footer {
    padding: 8px 10px;
    background: rs-color("gray-2");
    border-radius: 0px 0px 14px 14px;
  }

  &__header {
    width: 100%;
    padding: 10px;
    background: rs-color("gray-2");
    border-radius: 14px 14px 0px 0px;

    & ~ .rs-table {
      .rs-table__th {
        &:first-child {
          border-radius: 0px;
        }

        &:last-child {
          border-radius: 0px;
        }
      }
    }
  }

  &__thead {
    width: 100%;

    .rs-table__th {
      background: rs-color("gray-2");

      &:first-child {
        border-radius: 14px 0px 0px 0px;
      }

      &:last-child {
        border-radius: 0px 14px 0px 0px;
      }
    }
  }
}
