@import '../../../styles/mixins';
@import '../../../styles/colors';
@import 'root';

@mixin state($color) {
  .rs-select__input {
    // border: 2px solid rs-color($color,.5)
    background: rs-color($color, 0.05);
    color: rs-color($color, 1);

    &:hover {
      // border: 2px solid rs-color($color, 0)
      color: rs-color('text', 1);
    }
  }

  .rs-select__chips {
    background: rs-color($color, 0.05);
    color: rs-color($color, 1);

    &:hover {
      &:after {
        opacity: 0;
      }
    }

    &:after {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      border: 2px solid rs-color($color, 0.5);
      border-radius: inherit;
      transition: all 0.25s ease;
    }
  }

  .rs-select__label {
    color: rs-color($color, 1);
  }

  .rs-select__icon {
    color: rs-color($color, 1);
    background: rs-color($color, 0.1);
    box-shadow: (-15px) 10px 10px -10px rs-color($color, 0.1);
  }

  .rs-icon-arrow {
    &:after {
      background: rs-color($color, 1);
    }

    &:before {
      background: rs-color($color, 1);
    }
  }
}

.rs-select-enter-active {
  transition: all 0.25s ease;
}

.rs-select-enter {
  opacity: 0;
  transform: translate(0, -10px);
  transition: all 0.25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, rs-var(shadow-opacity));

  &:after {
    opacity: 0 !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, rs-var(shadow-opacity));
  }
}

.rs-select-leave-active {
  transition: all 0.25s ease;
}

.rs-select-leave-to {
  opacity: 0;
  transform: translate(0, -10px);
  transition: all 0.25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, rs-var(shadow-opacity));

  &.top {
    transform: translate(0, 10px) !important;
  }

  &:after {
    opacity: 0 !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, rs-var(shadow-opacity));
  }
}

.rs-select-content {
  width: 100%;
  max-width: 200px;
}

.rs-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  width: 100%;

  &--state-success {
    @include state('success');
  }

  &--state-danger {
    @include state('danger');
  }

  &--state-warn {
    @include state('warn');
  }

  &--state-dark {
    @include state('dark');
  }

  &--state-primary {
    @include state('primary');
  }

  &.loading {
    pointer-events: none;

    *:not(.rs-select__loading):not(.rs-select__label) {
      opacity: 0.6;
    }

    .rs-select__label {
      pointer-events: none !important;
    }
  }

  &.top {
    &.activeOptions {
      .rs-select__input,
      .rs-select__chips {
        border-radius: 0px 0px 12px 12px !important;
        box-shadow: 0px -5px 25px -4px rgba(0, 0, 0, rs-var(shadow-opacity)) !important;
      }
    }
  }

  &--disabled {
    opacity: 0.6;
    pointer-events: none;

    label {
      pointer-events: none;
    }
  }

  .rs-icon-arrow {
    z-index: 600;
    position: absolute;
    right: 15px;
    margin-top: -2px;
    transition: all 0.25s ease;
    pointer-events: auto;
    cursor: pointer;
  }

  &.activeOptions {
    .rs-icon-arrow {
      transform: rotate(45deg);
      margin-top: (-2px) !important;
    }

    .rs-select__input {
      border-radius: 12px 12px 0px 0px;
      background: rs-color('background');
      box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, rs-var(shadow-opacity));
      transform: translate(0, -4px);
      transition: all 0.25s ease, height 0s;

      // border: 2px solid transparent !important
      color: rs-color('text', 1);
    }

    .rs-select__chips {
      border-radius: 12px 12px 0px 0px;
      background: rs-color('background');
      box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, rs-var(shadow-opacity));
      transform: translate(0, -4px);
      transition: all 0.25s ease, height 0s;

      &:after {
        opacity: 0;
      }
    }

    .rs-select__label--placeholder {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translate(-3%, -28px) !important;
      font-size: 0.75rem;
      margin-top: 0px !important;
    }

    .rs-select__label {
      margin-top: -4px;
    }
  }

  &__input {
    opacity: 1;
    background: transparent;
    padding: 7px 13px;

    // border: 2px solid transparent
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.25s ease, height 0s;
    background: rs-color('gray-2');
    color: rs-color('text');
    min-height: 38px;
    padding-right: 30px;
    width: 100%;

    &.multiple {
      color: transparent;
      background: transparent;
      pointer-events: none;
    }

    &.simple {
      user-select: none;
    }

    &:focus {
      border-radius: 12px 12px 0px 0px;
      background: rs-color('background');
      box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, rs-var(shadow-opacity));
      transform: translate(0, -4px);
      transition: all 0.25s ease;

      ~ .rs-select__label--placeholder {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(-3%, -28px) !important;
        font-size: 0.75rem;
        margin-top: 0px !important;
      }
    }

    &:hover {
      background: rs-color('background');
      box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, rs-var(shadow-opacity));
      transform: translate(0, -4px);

      ~ .rs-select__label {
        margin-top: -4px;
      }

      ~ .rs-icon-arrow {
        margin-top: -6px;
      }
    }
  }

  &__chips {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    background: rs-color('gray-2');
    z-index: 300;
    border-radius: 12px;
    display: flex;
    border: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    min-height: 38px;
    transition: all 0.25s ease, height 0s;
    padding-right: 26px;

    &:focus {
      border-radius: 12px 12px 0px 0px;
      background: rs-color('background');
      box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, rs-var(shadow-opacity));
      transform: translate(0, -4px);
      transition: all 0.25s ease;
    }

    &:hover {
      background: rs-color('background');
      box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, rs-var(shadow-opacity));
      transform: translate(0, -4px);
      transition: all 0.25s ease;

      ~ .rs-icon-arrow {
        margin-top: -6px;
        transition: all 0.25s ease;
      }
    }

    &__input {
      width: auto;
      flex: 1;
      max-width: 100%;
      position: relative;
      min-width: 0px;

      // border: 2px solid transparent
      background: transparent;
      margin: 2px 3px;
      min-width: 30px;

      &::placeholder {
        color: rs-color('text', 0.4);
      }
    }

    &__chip {
      flex: 0 1 auto;
      position: relative;
      background: rs-color('background');
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 6px;
      margin: 2px 3px;
      padding-right: 10px;
      font-size: 0.84rem;
      border: 2px solid rs-color('gray-2');
      box-sizing: border-box;
      color: rs-color('text');

      &.isCollapse {
        padding-right: 6px !important;
      }

      &__close {
        position: absolute;
        top: -4px;
        right: -4px;
        width: 15px;
        height: 15px;
        background: rs-color('gray-4');
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 0.75rem;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          background: rs-color('danger');

          .rs-icon-close {
            --rs-color: var(--rs-background);

            &:after {
              width: 12px;
              transform: rotate(180deg);
            }

            &:before {
              width: 12px;
              transform: rotate(180deg);
            }
          }
        }

        .rs-icon-close {
          --rs-color: var(--rs-text);
          transform: scale(0.5);
        }
      }
    }
  }

  &__options {
    --rs-color: var(--rs-primary);
    position: absolute;
    z-index: 9999;
    background: rs-color('background');
    padding: 5px;
    border-radius: 0px 0px 12px 12px;
    overflow: hidden;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, rs-var(shadow-opacity));
    &.top {
      border-radius: 12px 12px 0px 0px;
      box-shadow: 0px -10px 20px -5px rgba(0, 0, 0, rs-var(shadow-opacity));

      &:after {
        top: auto;
        bottom: -10px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: -10px;
      width: 80%;
      margin-left: 10%;
      left: 0px;
      height: 10px;
      background: rs-color('background');
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, rs-var(shadow-opacity));
      z-index: 200;
      transition: all 0.25s ease 0.05s;
      opacity: 1;
    }

    &__content {
      max-height: 200px;
      overflow: auto;
      height: auto;
      z-index: 100;
      transform: scale(1);
      transition: all 0.25s ease;
      position: relative;
      scroll-behavior: smooth;

      &__not-data {
        font-size: 0.8rem;
        text-align: center;
        padding: 6px 10px;
      }

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        display: block;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: rs-color('gray-3');
        border-radius: 5px;
      }
    }
  }

  &__label {
    position: absolute;
    left: 14px;
    font-size: 0.8rem;
    transition: all 0.25s ease;
    cursor: text;
    user-select: none;
    pointer-events: none;
    width: 100%;

    // height: 100%
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.4;
    z-index: 500;
    top: 10px;

    &--hidden {
      opacity: 0;
      visibility: hidden;

      &.rs-select__label--placeholder {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(-3%, -28px) !important;
        font-size: 0.75rem;
        margin-top: 0px !important;
      }
    }

    &--label {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translate(-3%, -28px) !important;
      font-size: 0.75rem;
      margin-top: 0px !important;
    }
  }

  &__loading {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 7px;
    pointer-events: none;
    border-radius: 50%;
    box-sizing: border-box;
    background: inherit;
    cursor: default;
    z-index: 600;

    &:after {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid rs-color('primary', 1);
      border-radius: inherit;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      animation: rotateInputLoading 0.8s ease infinite;
      top: 0px;
      content: '';
    }

    &:before {
      box-sizing: border-box;
      top: 0px;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px dashed rs-color('primary', 1);
      border-radius: inherit;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      animation: rotateInputLoading 0.8s linear infinite;
      opacity: 0.2;
      content: '';
    }

    & ~ .rs-icon-arrow {
      opacity: 0 !important;
    }
  }

  &__message {
    font-size: 0.7rem;
    position: relative;
    padding: 0px 7px;
    transition: all 0.25s ease;
    overflow: hidden;

    &--success {
      color: rs-color('success', 1);
    }

    &--danger {
      color: rs-color('danger', 1);
    }

    &--warn {
      color: rs-color('warn', 1);
    }

    &--dark {
      color: rs-color('dark', 1);
    }

    &--primary {
      color: rs-color('primary', 1);
    }
  }
}

.rs-darken {
  .rs-select__options {
    &.isColorDark {
      --rs-color: 0, 0, 0 !important;

      .rs-select__option {
        &:hover {
          background: rs-color('color', 0.2);
          color: rs-color('text');
        }
      }

      .activeOption {
        color: rs-color('text');
        background: rs-color('color', 0.6);
      }
    }
  }
}
